# ignoring possible locations of bin folders
bin/

# ignoring .class files
*.class
*.o

# ignoring test results
/qa/test-result

# ignoring logs
/qa/logs

# ignoring tmp
/qa/tmp

# ignoring bin
bin/

# and cobertura
/qa/cobertura.ser


# ignoring some files we don't want on our repo
# e.g. nasty editor backup files and OS X FS information
*~
.DS_Store


# all the eclipse stuff
.classpath
.project
.metadata
.settings
eclipse

# and netbeans
nbproject

public/uploads/
